html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.bg-header{
    background-color: #264653;
}
 header p{
    color: #E0E0E0;
}
.btn-custom{
    background-color: #E76F51;
    color: white;
}
.highlighting-color{
    color: #E76F51;
}
a{
    text-decoration: none;
}
.img-gray{
    filter: grayscale(1);
}
.review-p{
    color: #6C6C6C;
    height: 140px;
}
.clients-name{
    color: #23A6F0;
}
.accordion-header-color{
    color: #383838;
}
.accordion-body-color{
    color: #7E848C;;
}